.registro-container {
  display: flex;
  height: 100vh;
  background: #f8f8f8;
  font-family: "Poppins", sans-serif;
}

/* Lado esquerdo com imagem */
.registro-info {
  flex: 1;
  background: url("/src/assets/809af1d0-e1e7-496a-8635-2176dbba67c0.png") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Camada escura translúcida para contraste */
.overlay {
  background: #1a2530;
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.overlay h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
}

/* Lado direito */
.registro-form {
  flex: 1;
  background: #dddddd;
  padding: 3rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 12px 12px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  text-decoration: #4b4b4b;
}

.registro-form h3 {
  color: #000000;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

input,
select {
  padding: 0.9rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 0.95rem;
  background-color: #585858;
}

input:focus,
select:focus {
  outline: none;
  border-color: #1a2530;
  background-color: #8b8b8b;
}

button {
  margin-top: 1rem;
  background: #04213b;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #243555;
}

@media (max-width: 900px) {
  .registro-container {
    flex-direction: column;
  }

  .overlay {
    height: 40vh;
  }

  .form-row {
    grid-template-columns: 1fr;
  }
}
