.detalhes-container{
  display: grid;
  margin-top: 44px;
  width: 100%;
}

.filtro-container {
  margin: 1rem 0;
}

.filtro-container select {
  padding: 0.5rem;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.esporte-bloco {
  margin-top: 2rem;
  text-align: left;
}

.escolas-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  margin-top: 1rem;
}

.escola-card {
  background: #000000;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
