.fundo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
 
.login-card {
  display: flex;
  height: 700px;
  width: 64em; /* max-w-4xl */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color:  #1a2530;
 
 
}  
 
h2{
    font-size: 40px;
}
.form-group-email,.form-group-senha{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;  
}

input{
    height: 50px;
    width: 350px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #131b24;
    color: aliceblue
}
 
 
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza todos os itens */
  gap: 20px; /* Espaço entre os grupos de input e os botões */
  align-items: center;
  justify-content: center;
 
}
 
.button-group {
    display: flex; /* Habilita o Flexbox */
    flex-direction: row; /* Alinha os itens na horizontal */
    gap: 20px; /* Adiciona espaçamento entre os botões */
    margin-top: 2rem; /* Adiciona margem acima do grupo de botões */
    justify-content: center; /* Centraliza os botões */
    width: 100%; /* Opcional: faz o grupo ocupar a largura total do container pai */
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
 
.back-button {
  flex: 1; /* Faz os botões dividirem o espaço igualmente */
  padding: 10px;
  border: none;
  cursor: pointer;
  /* ... outros estilos de cor e fonte ... */
}
 
/* O estilo do botão pode ser genérico */
.login {
  height: 60px;
  width: 300px;
  border-radius: 70px;
  color: aliceblue;
  background-color: rgb(31, 158, 231);
  font-size: 18px;
  transition: transform 0.5s ease;
}
 
.login:hover{
  background-color: rgb(39, 181, 216);
  transform: scale(0.95);
  cursor: pointer;
}
 
.EsqueceuSenha {
  display: flex;
  justify-content: center;   /* Centraliza horizontalmente */
  align-items: center;       /* Centraliza verticalmente */
  gap: 20px;                 /* Espaço entre os links */
  margin-top: 10px;
}

.EsqueceuSenha a {
  color: white;              /* Cor padrão */
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Específico para o link "Esqueceu a senha?" */
.EsqueceuSenha a.esqueceu:hover {
  color: red;                /* Fica vermelho ao passar o mouse */
  transform: scale(0.95);
}

/* Específico para o link "Cadastrar" */
.EsqueceuSenha a.cadastrar:hover {
  color: #00aaff;            /* Fica azul ao passar o mouse */
  transform: scale(0.95);
}
 
.form-group-email,.form-group-senha{
    transition: transform 0.3s ease;
   
}
 
.form-group-email:hover,.form-group-senha:hover{
   transform: scale(1.05);  
}
