.fundo{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}

input {
    height: 50px;
    width: 100%;     /* faz todos os inputs ficarem iguais */
    border-radius: 30px;
    font-size: 15px;
    background-color: #131b24;
    color: aliceblue;
    padding: 0 20px; /* deixa a borda interna igual em todos */
    box-sizing: border-box;
}


.register-card {
  display: flex;
  height: 700px;
  width: 64em; /* max-w-4xl */
  margin: 0 auto;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  background-color:  #1a2530;
}  
 
h2{
    font-size: 40px;
}

.informacoes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


.form-group-register,.form-group-dados{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px
}

.form-group-email,.form-group-senha,.form-group-nome,.form-group-responsavel{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;  
     transition: transform 0.3s ease;
}

.form-group-email:hover,.form-group-senha:hover,.form-group-nome:hover,.form-group-responsavel:hover{
   transform: scale(1.05);  
}


.form-group-senha {
    position: relative;
    width: 100%;
}

.input-senha {
    padding-right: 45px; /* espaço pro ícone */
}



.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}




.form-group-nome,
.form-group-responsavel,
.form-group-email,
.form-group-senha {
    width: 350px;  /* ou qualquer valor que quiser */
}



   


